<h1>Admin area</h1>

<div class=infosection >
  <%= link_to "Concert Index", concerts_path %>

</div>


<div class=infosection >
  <%= link_to "Song Index", songs_path %>

</div>

<div class=infosection >
  <%= link_to "Performer Index", performers_path %>

</div>


<div class=infosection >
  <%= link_to "Venue Index", venues_path %>

</div>
