<h1>New song</h1>


<%= render 'form' %>
 
<div class="nextsection" >
  <p> GUIDED DATA ENTRY </p>
  <%= link_to "New concert", new_concert_path %>

</div>

<div class="afternextsection" >
 
<%= link_to 'Song Index', songs_path %>
</div>
