<h1>New song</h1>

 
<div class="nextsection" >
  <p> GUIDED DATA ENTRY </p>
  <%= link_to "New concert", new_concert_path %>

</div>

<div class="afternextsection" ></div>


<%= render 'form' %>
 
<%= link_to 'Song Index', songs_path %>

