<h1>New venue</h1>

<div class=nextsection >
  <p> GUIDED DATA ENTRY </p>
  <%= link_to "New single performer", new_individual_path %>
 |<%= link_to 'New group of performers', new_group_path %>
</div>

<div class=afternextsection >
<p> </p>
</div>
 
<%= render 'form' %>
 
<%#= link_to 'Back', venues_path %>
