<h1>New venue</h1>

 
<%= render 'form' %>

<div class=nextsection >
  <p> GUIDED DATA ENTRY </p>
  <%= link_to "New individual", new_individual_path %>
 | <%= link_to 'New group', new_group_path %>
</div>

<div class=afternextsection >
<%= link_to 'Venue Index', venues_path %>
</div> 

