<%= render 'shared', shared: @venue %>

<div class="infosection">
<h2>Concerts held here</h2>
  <table>
  <tr>
    <th>Performers</th>
    <th>Date</th>
    <th colspan="1"></th>
  </tr>
  <% @venue.concerts.each do |concert| %>
    <tr>
      <td>
        <table>
          <% concert.performers.each do |perf| %>
          <tr>
          <td><%= perf.pname %> </td>
          </tr>
          <% end %>
        </table>
      </td>
      <td><%= concert.date %></td>
      <td><%#= link_to "Concert", concert_path(concert) %></td>
    </tr>  
  <% end %>
</table>
</div>



