// Place all the styles related to the generic page  here.
body {
    background-image: url('/assets/concert_home.jpeg');
    background-size: cover;  


/*    background-color: #494a4f;*/
}

.content {
/*    background-image: url('/assets/concert_home.jpeg');
    background-size: cover;*/
    background-color:rgba(255,255,255,0.5);

}
