// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-image: url('/assets/concert_home.jpeg');
    background-size: cover;    
/*    background-color: #494a4f;*/
}

.content {
   /* background-image: url('/assets/concert_home.jpeg');
    background-size: cover;*/
    /*background-color:rgba(255,255,255,0.5);*/

}

